.DS_Store
*.tmproj
log/*.log
log/*.pid
db/*.db
db/*.sqlite3
tmp/*
tmp/**/*
doc/api
doc/app
doc/README_FOR_APP
config/deploy.rb
config/database.yml
public/stylesheets/shacker.css
public/javascripts/shacker.js