<div id="setup"></div><br>
Passwords tried:
<span id="status"></span>

<%= javascript_tag remote_function(:complete => 'setup()', :url => {:action => :secret, :format => :js, :only_path => false }) %>
<%= javascript_tag remote_function(:complete => 'setup()', :url => {:action => :characters, :format => :js, :only_path => false }) %>
<%= javascript_tag remote_function(:complete => 'setup()', :url => {:action => :chunk, :format => :js, :only_path => false }) %>

