<%= link_to_function "Test", "alert(chunks)" %>
<%= link_to_function "Run", "shack();" %>

<%= javascript_tag remote_function(:url => { :action => :chunks, :format => :js }) %>


<div id="chunks"></div>
<div id="result"></div>

<%#= javascript_tag 'document.observe("dom:loaded", function() { shack(); });' %>

