<br>

<div style="text-align:center; width:550px; margin-left:25px; margin-bottom:5px">
  <h1>s h a c k e r</h1>
  Welcome to the <b>shacker</b> distributed browser-based SHA-256 password brute force project.<br><br>
  <h2>
    Currently there are no challenges.<br>
    Please hang on, until one comes up.
  </h2>
  <span id="autoreloader">(This page reloads automatically, just wait right here :)<br><br><%= button_to_function "Look for a challenge now!", 'window.location.reload()' %></span>
  <br><br>
</div>

<%= javascript_tag update_page { |page|
  #page['autoreloader'].update '(This page reloads automatically, just wait right here :)'
  page['container'].visual_effect(:highlight)
  page['busy'].appear
  page.delay(20) do
    page.reload
  end
}%>